.breadcrumb-container {
  margin: 0;
  margin-top: 0.75rem;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: fixed;
  background: var(--light);
  top: 0px;
  z-index: 1;
}

.breadcrumb-element {
  p {
    margin: 0;
    margin-left: 0.5rem;
    padding: 0;
    line-height: normal;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
